@import "tailwindcss";

@layer utilities {
    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner {
        -moz-appearance: textfield;
    }
}

.coverages-list::-webkit-scrollbar {
    width: 6px;
}

.coverages-list::-webkit-scrollbar-track {
    background: transparent;
}

.coverages-list::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.coverages-list:hover::-webkit-scrollbar-thumb {
    background-color: #334155;
}

.coverages-list::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}

.coverages-list {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s;
}

.coverages-list:hover {
    scrollbar-color: #334155 transparent;
}