@import "tailwindcss";


@theme {
    --color-primary: #3b82f6;
    --color-primary-sky: #0ea5e9;
    --color-primary-sky-hover: #0284c7;

    --color-background-light: #f8fafc;
    --color-background-dark: #0f172a;
    --color-surface-dark: #1e293b;

    --color-bg-dark: #0B1120;
    --color-card-dark: #151e32;
    --color-input-dark: #0f172a;

    --font-display: "Inter", sans-serif;
    --font-sans: "Inter", sans-serif;

    --shadow-sonner: 0 4px 12px rgba(0, 0, 0, 0.1);
    --shadow-sonner-dark: 0 4px 12px rgba(0, 0, 0, 0.4);

    --animate-spin-slow: spin 12s linear infinite;
    --animate-slide-in-up: slide-in-up 0.4s ease-out forwards;

    @keyframes slide-in-up {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@layer base {
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #334155;
        border-radius: 9999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #475569;
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: #334155 transparent;
    }
}

@layer utilities {

    .no-spinner::-webkit-inner-spin-button,
    .no-spinner::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-spinner {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

.coverages-list::-webkit-scrollbar {
    width: 6px;
}

.coverages-list::-webkit-scrollbar-track {
    background: transparent;
}

.coverages-list::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.coverages-list:hover::-webkit-scrollbar-thumb {
    background-color: #334155;
}

.coverages-list::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
}

.coverages-list {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: scrollbar-color 0.3s;
}

.coverages-list:hover {
    scrollbar-color: #334155 transparent;
}