spring:
  application:
    name: registry-server
server:
  port: ${DISCOVERY_PORT:8761}
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: ${DISCOVERY_HOST:localhost}
    prefer-ip-address: ${REGISTRY_PREFER_IP:true}
management:
  endpoints:
    web:
      exposure:
        include: "*"