spring:
  application:
    name: iden-gateway
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: user-authnz-service
              uri: lb://USER-AUTHNZ-SERVICE
              predicates:
                - Path=/auth/**

            - id: user-mgmt-service
              uri: lb://USER-MGMT-SERVICE
              predicates:
                - Path=/picma/users/**
              filters:
                - RewritePath=/picma/users/(?<segment>.*), /user/${segment}

            - id: property-mgmt-service
              uri: lb://PROPERTY-MGMT-SERVICE
              predicates:
                - Path=/picma/properties/**
              filters:
                - RewritePath=/picma/properties/(?<segment>.*), /propertyInfo/${segment}

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://${IDP_HOST:localhost}:${IDP_PORT:8081}/realms/${IDP_REALMS:picma}
          jwk-set-uri: http://${IDP_HOST:localhost}:${IDP_PORT:8081}/realms/${IDP_REALMS:picma}/protocol/openid-connect/certs

server:
  port: 6060

eureka:
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${REGISTRY_PORT:8761}/eureka/
    fetch-registry: true
  instance:
    hostname: ${REGISTRY_HOST:localhost}
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: ${REGISTRY_PREFER_IP:true}

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
    org.springframework.web.reactive: INFO