spring:
  application:
    name: registry-server
eureka:
  instance:
    hostname: ${REGISTRY_HOST:localhost}
  client:
    register-with-eureka: true
    fetch-registry: false
management:
  endpoints:
    web:
      exposure:
        include: "*"
server:
  port: 8761