spring:
  application:
    name: registry-server
server:
  port: ${REGISTRY_PORT:8761}
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
  instance:
    hostname: ${REGISTRY_HOST:localhost}
    prefer-ip-address: ${REGISTRY_PREFER_IP:true}
management:
  endpoints:
    web:
      exposure:
        include: "*"