spring:
  application:
    name: user-authnz-service
  data:
    redis:
      host: ${REDIS_CACHE_HOST:localhost}
      port: ${REDIS_CACHE_PORT:6379}
      password: ${REDIS_CACHE_PASSWORD:password}

keycloak:
  auth-server-url: ${PROTOCOL:http}://${IDP_HOST:localhost}:${IDP_PORT:8081}
  realm: ${IDP_REALMS:picma}
  resource: ${IDP_CLIENT:user-authnz-client}
  credentials:
    secret: ${IDP_SECRET:IN1s7kAP5qbeKarl8i97WrxYYWxELpZe}

picma:
  iam:
    groups:
      owners: ${OWNERS_GROUP_ID:d41e9d41-afb7-408e-bbd0-970b093268ab}
      agents: ${AGENTS_GROUP_ID:2a576f8b-ee0d-4c57-be7a-de4a490e298d}

eureka:
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${REGISTRY_PORT:8761}/eureka/
  instance:
    hostname: ${REGISTRY_HOST:localhost}
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: ${REGISTRY_PREFER_IP:true}

server:
  port: 5052