spring:
  application:
    name: user-authnz-service
  data:
    redis:
      host: ${REDIS_CACHE_HOST:localhost}
      port: ${REDIS_CACHE_PORT:6379}
      password: ${REDIS_CACHE_PASSWORD:password}
      username: ${REDIS_CACHE_USERNAME:username}
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: ${IDP:keycloak}
            client-id: ${IDP_CLIENT:user-authnz-client}
            client-secret: ${IDP_SECRET:IN1s7kAP5qbeKarl8i97WrxYYWxELpZe}
            authorization-grant-type: ${OIDC_GRANT_TYPE:authorization_code}
            redirect-uri: "{baseUrl}/login/oauth2/code/"
            scope: ${OIDC_SCOPE:openid}
        provider:
          keycloak:
            issuer-uri: http://${IDP_HOST:localhost}:${IDP_PORT:8081}/realms/${IDP_REALMS:picma}
            token-uri: http://${IDP_HOST:localhost}:${IDP_PORT:8081}/realms/${IDP_REALMS:picma}/protocol/openid-connect/token
server:
  port: ${APP_PORT:5052}
eureka:
  client:
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${REGISTRY_PORT:8761}/eureka/
  instance:
    hostname: ${REGISTRY_HOST:localhost}
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: ${REGISTRY_PREFER_IP:true}
management:
  endpoints:
    web:
      exposure:
        include: "*"